@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  font-size: 20px;
  background-color: #399cc0;
  font-family: "Yu Gothic","游ゴシック",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","メイリオ",sans-serif;
}


.mainbutton{
  padding-left: 10vw;
  padding-right: 10vw;
  align-items: center;
}

.alert_text{
  display: flex;
  padding-top: 30vh;
  padding-right: 10vw;
  padding-left: 10vw;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.mainbutton{
  padding-top: 10vh;
  text-align: center;

}

button{
  max-width: 250px;
  width: 70%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: #d7d7d7;
  border: none;
  cursor: pointer;
  border-radius:50px;
  align-items: center;
  margin: 10px;
}

/*以下からハンバーガー*/
#nav{
  position: absolute;
  height: 100vh;
  width: 100%;
  right: -100%;
  top: 0;
  background: #00000077;
  transition: .7s;
  z-index: 99;
}
#nav ul{
  padding-top: 3vh;
}
#nav ul li{
  padding-top: 8vw;
  list-style-type: none;
  font-size: 8vw;
  text-align: center;
}
#nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 0 15px;
  padding: 10px;
  transition: .5s;
}
#nav li a:hover{
  color: #000000;
  background: #42c2e2;
  border-bottom: none;
}
#hamburger {
  display: block;
  position: absolute;
  top: 2vh;
  right: 4%;
  width: 5vw;
  height: 30px;
  cursor: pointer;
  transition: 1s;
  z-index: 100;
}
.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 5vw;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
}
#line1 {
  top: 0;
}
#line2 {
  top: 50%;
}
#line3 {
  bottom: 0px;
}

.in{
  transform: translateX(-100%);
}
.line_1,.line_2,.line_3{
  background: #ffffff;
}
.line_1 {
  transform: translateY(20px) rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: translateY(-20px) rotate(45deg);
  bottom: 0;
}
/*以上までハンバーガー*/

.numval{
  font-size: 12px;
}